<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="zebra_printer_QRPage_template" value="/../../imgs/zebra_page.bmp" />
    <add key="desktop_printer_QRPage_template" value="/../../imgs/desktop_page.bmp" />
    <add key="QRLabel_template" value="/../../imgs/qr_template.bmp" />
    <add key="logo_image" value="/../../imgs/Vistakon_logo.gif" />
    <add key="ControlledPrinter" value="\\ITGFS1\Kyocera" />
    <add key="UncontrolledPrinter" value="\\ITGFS1\Kyocera" />
  </appSettings>
</configuration>